<div class="footer-bg absolute-bottom">
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>About</h2>
      <p>Musici amateur et passionné, je pratique depuis 18 ans. Pianiste, guitariste et bassiste, mes goûts sont éclectiques. Que l'on aime la musique classique, la rap ou bien encore le hardrock, le principal reste le partage et le "jouons ensemble".</p>
      <p><a class="btn btn-secondary" href="{{ 'about.html' | relative_url }}" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Staff</h2>
      <p>Dans cette section vous retrouverez mes amis imaginaires avec qui j'écris des posts sur mes groupes de musiques préférés. Bien entendu, les auteurs de ces articles (Janvier, Fevrier et mars n'existent pas mais pour ma santé mentale j'ai besoion de communiquer avec des gens... donc j'en invente...). </p>
      <p><a class="btn btn-secondary" href="{{ 'staff.html' | relative_url }}" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>Blog</h2>
      <p>Visitez cette section afin de vous tenir informé des derniers articles (dans quelques temps il y aura aussi les dates de tous les concerts!) de vos groupes préférés avec une présentation succincte.</p>
      <p><a class="btn btn-secondary" href="{{ 'blog.html' | relative_url }}" role="button">View details &raquo;</a></p>
    </div>
  </div>

</div> <!-- /container -->

</main>

<footer class="container">
<p>&copy; Dedalus 2020</p>
</footer>
</div>